<header class="navbar navbar-light bg-light">
    <div class="navbar-brand mb-0 h1 text-center">Student Management System for Online Learning</div>
</header>
    
<main class = "containter">
  <div class = "row">
    <div class = "card" id="external-events">
      <p>
        <h2>Students</h2>
          
            <div>
                <button id = "addStu" type="button" class="btn" data-toggle="modal" data-target="#modal1" data-toggle="tooltip" data-placement="bottom" title="Add a Student">
                  <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  </svg>
                </button>

                <div class="modal fade" id="modal1" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <h5 class="form-text">Please enter the first and last name of the student you would like to add.</h5>
                            <label for="firstName">First Name:</label>
                            <input type="name" class="form-control" id="firstName" >
                          </div>
                          <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="name" class="form-control" id="lastName">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id = "addBtn" class="btn">Add Student</button>
                      </div>
                    </div>
                  </div>
                </div>
              <span><h6>Add a Student</h6></span>
            </div>
      

  

          <div>
              <button id = "deleteStu" type="button" class="btn" data-toggle="modal" data-target="#modal2" data-toggle="tooltip" data-placement="bottom" title="Add a Student">              <svg class="bi bi-x-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                </svg>
              </button>
              

              <div class="modal fade" id="modal2" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete a Student</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <h5 class="form-text">Please enter the first and last name of the student you would like to delete.</h5>
                        </div>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {{#each Students}}
                              <a class="fc-event dropdown-item deleteStu" href="#" id={{id}}>{{first_name}} {{last_name}}</a>
                            {{/each}}
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" id = "deleteBtn" class="btn">Delete Student</button>
                    </div>
                  </div>
                </div>
              </div>
            <span><h6>Delete a Student</h6></span>
          </div>

    

    {{#each Students}}
      <div class="fc-event" id={{id}}>{{first_name}} {{last_name}}</div>
    {{/each}}
    </p>
    </div>

    <div id="calendar"></div>

    <!-- code for calendar edit event modal -->
    <div class="modal fade" id="calendarModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" id="editModalHeader">
                  <h5 class="modal-title" id="calendarModalLabel">Edit Calendar Event</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" id="editModalBody">
                <form role="form" id="registerform" name="registerform" action="" method="post">
                  <div class="form-group" id="editModalFormGroup">
                      <p>
                          Calendar ID: <span id="calendarID">1</span>
                      </p>
                      <!-- <label for="title" class="form-label">Title:<span class="required">*</span></label>
                      <input type="text" class="form-control" id="title"/> -->
                      <label for="students">Students:<span class="required">*</span></label>
                      <select id="students" class="form-control"></select>
                      <label for="description" class="form-label">Description:</label>
                      <input type="text" class="form-control" id="description"/>  
                      <label for="startdt" class="form-label">Start:<span class="required">*</span></label>
                      <input type="datetime-local" class="form-control" id="startdt"/>
                      <label for="enddt" class="form-label">End:<span class="required">*</span></label>
                      <input type="datetime-local" class="form-control" id="enddt"/>
                      <p aria-hidden="true" id="required-description">
                        <span class="required">*</span>Required field
                      </p>
                      <p id="modalErrorText" class="hide">
                        Please enter valid dates.
                      </p>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="editModalSave">Save</button>
              </div>
          </div>
      </div>
    </div>     
    <!-- end edit event modal code    -->

  </div>

</main>
